body, html {
    margin: 0;
    padding: 0;
    height:100%;
}

#main {
    margin-top: 75px; /* Adjust this value based on navigation bar height */
}

.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 75px); /* Full height minus the navbar */
    padding: 20px;
    box-sizing: border-box;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Make content stretch */
    height: 100%;
    flex-grow: 1; /* Ensure #box takes remaining space */
    box-sizing: border-box;
}

#box p {
    position: relative;
    margin: 0 0 20px;
    font-size: 18px;
}

#my-image {
    position: fixed;
    top: 0;
    left: 0;
    width:30%;
    background-color: rgb(30, 201, 220);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Navigation Bar */
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    background-color: #333;
    overflow: hidden;
    display: flex; /* Added */
    justify-content: space-around; /* Added */
    align-items: center; /* Added */
    padding: 10px 0;
    z-index: 1000;
}

.navigation-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

.navigation-bar .active a {
    background-color: #4CAF50;
    color: white;
}


/* Projects section*/

.project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.img-url {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 5px solid #ccc;
}

@media (max-width: 768px) {
    .left-side-projects,
    .right-side-projects {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
